# 1、定义Series的三种方法

In [9]:
import numpy as np
import pandas as pd

### 1）直接定义值数组，使用默认的索引

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

In [ ]:
data[1]

### 2）同时定义值和索引数组

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

In [ ]:
data[1]

In [ ]:
data['b']

### 3）定义键值-值字典

In [10]:
population_dict = {'California':38332521,
                  'Texas':26448193,
                  'New York':19651127,
                  'Florida':19552860,
                  'Illinois':12882135}
population=pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [ ]:
population[1]

In [ ]:
population['Texas':'Florida']

### 4) 增加键值-值对

In [11]:
population['New Mexico']=29829332
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
New Mexico    29829332
dtype: int64

# 2、常用的定义DataFrame的方法

### 1）最常用的方法之一，通过定义Series定义DataFrame
首先，再定义一个面积列

In [14]:
area_dict = {'California':423967, 'Texas':695662, 'New York':141297, 'Florida':170312, 'Illinois':149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [15]:
states = pd.DataFrame({'population':population, 'area':area})
states

            population      area
California    38332521  423967.0
Florida       19552860  170312.0
Illinois      12882135  149995.0
New Mexico    29829332       NaN
New York      19651127  141297.0
Texas         26448193  695662.0

In [ ]:
states.columns

In [ ]:
states['area']

### 2）从Numpy二维数组中创建

In [ ]:
pd.DataFrame(np.random.rand(3,2),
            columns=['foo','bar'],
            index=['a','b','c'])

### 3) 其他创建方法
通过单个Series对象创建、通过字典列表创建、通过NumPy结构化数组创建

### 4) 新增列

### 通过新增Series对象新增列

In [18]:
states['time']=pd.Series([1,2,3,4],index=['California','Florida','Illinois','New Mexico'])
states

            population      area  time
California    38332521  423967.0   1.0
Florida       19552860  170312.0   2.0
Illinois      12882135  149995.0   3.0
New Mexico    29829332       NaN   4.0
New York      19651127  141297.0   NaN
Texas         26448193  695662.0   NaN

### 通过现有列的运算来新增列

In [19]:
states['test']=states['area']+states['time']
states

            population      area  time      test
California    38332521  423967.0   1.0  423968.0
Florida       19552860  170312.0   2.0  170314.0
Illinois      12882135  149995.0   3.0  149998.0
New Mexico    29829332       NaN   4.0       NaN
New York      19651127  141297.0   NaN       NaN
Texas         26448193  695662.0   NaN       NaN

# 3、从CSV文件中创建DataFrame

In [ ]:
import os

In [ ]:
csv_file = open(os.getcwd() + os.path.sep + 'births.csv')
file = pd.read_csv(csv_file)
#file.head()
df = pd.DataFrame(file)

### 也可以从Weka的ARFF文件中加载DataFrame，需要将ARFF先转换成CSV格式。

In [ ]:
path = os.getcwd() + os.path.sep + 'breast-cancer.csv'
df = pd.DataFrame(pd.read_csv(path))
df.columns